*{ 
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}

header{
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(main.jpg);
	height: 80vh;
	background-size: cover;
	background-position: center;
}

.main ul{
	list-style-type: none;
}

.main ul li{
	display: inline-block;
	margin-top: 25px;
}

.main ul li a{
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}

.main ul li a:hover{
	background-color: #fff;
	color: #000;
}

.main ul li.active a{
	background-color: #fff;
	color: #000;
}

/* search bar*/
.cse{
	border: 1px solid #ccc;
	float: right;
	padding: 7px;
	margin-top: 8px;
	margin-right: 16px;
	border: none;
	font-size: 17px;
	width: 350px;
}

.logo img{
	float: left;
	width: 150px;
	height: auto;
	margin-right: 20px;
}

.main{
	max-width: 1200px;
	margin: auto;
}

.title{
	position: absolute;
	top:50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.title h3{
	color: #fff;
	text-align:center;
}

.title h1{
	color: #fff;
	font-size:70px;
}

/* The dropdown container */
.dropdown {
  float: right;
  overflow: hidden;
}

/* The dropdown button */
.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: #fff;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  transition: 0.6s ease;
}

.dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: darkseagreen;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display:none;
  position:absolute;
  background-color:darkseagreen;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index:1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

/* navigation bar symbol*/
.main i {
  background-color:none;
  overflow:hidden;
}

/* list inside navigation bar symbol*/
.main i a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  color: green;
  font-size: 100px;
}

/* list inside navigation bar symbol hover*/
.main i a:hover {
  background-color: green;
}

.gallery{
	position:relative;
	width:350px;
	height:350px;
	float:left;
	margin:10px;
	margin-left:100px;
	background-size:100%;
	background-position:center;
	transition:0.5s;
}


.gallery:hover{
	background-size: 110%;
}

.gallery:after{
	position:absolute;
	top:90%;
	bottom:0;
	left:0;
	right:0;
	word-wrap:break-word;
	overflow:hidden;
	background-color:rgba(0,0,0,0.7);
	color:#fff;
	padding:0 8px;
	content:attr(data-text);
	transition:0.5s;
	font-size:30px;
	font-weight:bold;
}

.gallery:hover:after{
	top:0;
	padding:8px;
}


#map {	
	height: 500px;
	width: 97%;
	margin: 20px;
}

/*for footer styling */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    outline: none;
}

.footer-main-div{
    width: 100%;
    height: auto;
    margin: auto;
    background:#272727;
    padding:20px 0px;
}

.footer-social-icons{
    width: 100%;
    height: auto;
    margin: auto;
}

.footer-social-icons ul{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.footer-social-icons ul li{
    display: inline-block;
    width: 50px;
    height:50px;
    margin:0px 10px;
    border-radius:100% ;
    background:#32CD32 ;
}

.footer-social-icons ul li a{
    color:#272727 ;
    font-size: 25px;
    display: block;
}

.footer-social-icons ul li a i{
    line-height: 50px;
}

.footer-menu-one{
    width:100%;
    height:auto;
    margin:auto;
    margin-top:20px;
}

.footer-menu-one ul{
    margin:0px;
    padding:0px;
    text-align:center;   
}

.footer-menu-one ul li{
    display: inline-block;
    margin: 0px 20px;
}
 
.footer-menu-one ul li a{
    font-family:arial;
    font-size:15px;
    font-weight:600;
    color:white;
    text-transform: uppercase;
}